<h1>Jess Bowling Blog</h1>
<table>
<tr>
  <td align="center" valign="middle" width="65"><u>Home</u></td>
  <td align="center" valign="middle" width="65">Bio</td>
  <td align="center" valign="middle" width="65">Contact</td>
  <td align="center" valign="middle" width="65">Site Map</td>
</tr>
</table>

<head>
<style>
body
{background: #606060}
td
{border-width:1px; border-style:solid;}
h1
{font:30px arial,sans-serif; color: #FFFFFF}
td
{font:15px arial,sans-serif; color: #FFFFFF}
p
{font:15px arial,sans-serif; color: #FFFFFF}
a
{font:15px arial,sans-serif; color: #FFFFFF}
</style>
</head>
<p></p>