
<p></p>
<p>Hey, welcome to my blog.</p>
</p>
<a href="http://www.techtalentsouth.com">You can visit the friendly folks at Tech Talent South by clicking on me.</a>
<p>or</p> 
<a href="http://www.theguardian.com/us">You can get news about America from a British source by clicking on me.</a>
<p>or</p>
<a href="http://www.gaumard.com/noelle/">You can check out one of the medical simulators I support at the office.</a>
<p>Enjoy!</p>

<%=
'Holy Cow!  It\'s Ruby Code'
%>
<p> </p>
<ul>
	<% @our_names.each do |item| %>
	<li> <%= item %> </li>
	<% end %>
</ul>