<h1>Hey, how's it going?  This is a welcome header (of sorts)...</h1>
<img src="http://clatl.com/imager/b/story/1256942/c2af/atl_arts_qna2-1_20060322.jpg">
<p>I'm Jess Bowling.  Yes, Bowling...  Just like the game.</p>
<p>Although I still haven't figured how on earth my family got named after a sport that involves hardwood floors and cheap beer.</p>
<p>
This is an email link (you know the electronic kind, not the kind you put a stamp on):
<a href="mailto:jess.a.bowling@gmail.com?Subject=Hello%20again" target="_top">
Click to email JB</a>
</p>
<a href="http://www.techtalentsouth.com">You can visit the friendly folks at Tech Talent South by clicking on me.</a>
<p>or</p> 
<a href="http://www.theguardian.com/us">You can get news about America from a British source by clicking on me.</a>
<p>or</p>
<a href="http://www.gaumard.com/noelle/">You can check out one of the medical simulators I support at the office.</a>
<p>or</p>
<a href="http://manetas.com/pollock/">You can make splatter paintings a la Jackson Pollock by moving the mouse around this site.</a>
<p>Enjoy!</p>