<head>
<style>
body
{background: #606060}
td
{border-width:1px; border-style:solid;}
h1
{font:30px arial,sans-serif; color: #FFFFFF}
td
{font:15px arial,sans-serif; color: #FFFFFF}
p
{font:15px arial,sans-serif; color: #FFFFFF}
a
{font:15px arial,sans-serif; color: #FFFFFF}
</style>
</head>
<p></p>
<p>
This is my email link (you know the electronic kind, not the kind you put a stamp on):
<a href="mailto:jess.a.bowling@gmail.com?Subject=Hello%20again" target="_top">
Click to email JB</a>
</p>
