<h1>Jess Bowling Blog</h1>
<table>
<tr>
  <td align="center" valign="middle" width="65">Home</td>
  <td align="center" valign="middle" width="65">Bio</td>
  <td align="center" valign="middle" width="65"><u>Contact</u></td>
  <td align="center" valign="middle" width="65">Site Map</td>
</tr>
</table>

<head>
<style>
body
{background: #606060}
td
{border-width:1px; border-style:solid;}
h1
{font:30px arial,sans-serif; color: #FFFFFF}
td
{font:15px arial,sans-serif; color: #FFFFFF}
p
{font:15px arial,sans-serif; color: #FFFFFF}
a
{font:15px arial,sans-serif; color: #FFFFFF}
</style>
</head>
<p></p>
<img src="https://med.emory.edu/excel/images/bio/Bowling.jpg">
<p>
This is my email link (you know the electronic kind, not the kind you put a stamp on):
<a href="mailto:jess.a.bowling@gmail.com?Subject=Hello%20again" target="_top">
Click to email JB</a>
</p>
