<head>
<style>
body
{background: #606060}
td
{border-width:1px; border-style:solid;}
h1
{font:30px arial,sans-serif; color: #FFFFFF}
td
{font:15px arial,sans-serif; color: #FFFFFF}
p
{font:15px arial,sans-serif; color: #FFFFFF}
a
{font:15px arial,sans-serif; color: #FFFFFF}
</style>
</head>
<p></p>
<p>An Atlanta native, I was born in 1981.  I’ve been with the Emory School of Medicine's Office of Information Technology Services (SOM-ITS) since November, 2007 and spent approximately 4 years at the Grady campus providing multimedia support and consulting to the Emory, Grady and Morehouse School of Medicine community.</p>

<p>As a Sr. Applications Support Analyst with the SOM-ITS’ Curricular Support team, I provide dedicated technical support and consulting to the Emory Center for Experiential Learning’s (ExCEL) OSCE and Simulation centers.  My focus is the support and development of innovative multimedia technologies that assist SOM faculty with evaluating student performance in structured clinical examination scenarios and simulated medical events using pediatric, adult and organ-specific medical simulators.

With over 9 years of experience with digital video production, post-production and video-based consulting, I’ve executed digital multimedia, networked AV systems and Mac/PC support in the realms of higher education, web-based companies, art museums/galleries, and network television.

I obtained my B.F.A. in Digital Video from the Atlanta College of Art and pursued advanced study in Georgia State University’s Mass Communication M.A. program and the Rhode Island School of Design’s M.F.A. program in Digital + Media.  I’m a Certified Technology Specialist - General (CTS) in AV media from Infocomm International.

I enjoy documentary filmmaking, experimental cinema, philosophy, art history, politics, satire, Latin & Italian language studies, travel, music & literature.</p>
<p>While you're here...</p>
<a href="http://manetas.com/pollock/">You can make splatter paintings a la Jackson Pollock by clicking this link and moving the mouse around this site.</a>